<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <title>@ViewBag.Title - Delivery Management</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/loginScripts")
    @Styles.Render("~/content/css")

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body class="hold-transition bg-img" data-overlay="7">

    <div class="container h-p100">
        @RenderBody()
    </div>

    <script type="text/javascript">
        $(function () {
            @if (TempData["success-message"] != null)
            {
            <text>
            $.toast({
                    heading: 'Success',
                    text: '@TempData["success-message"]',
                    position: 'top-right',
                    icon: 'success',
                    hideAfter: 5000
            });
            </text>
            }

            @if (TempData["error-message"] != null)
            {
            <text>
            $.toast({
                    heading: 'Error',
                    text: '@TempData["error-message"]',
                    position: 'top-right',
                    icon: 'error',
                    hideAfter: 5000
            });
            </text>
            }
            @if (TempData["warning-message"] != null)
            {
            <text>
            $.toast({
                    heading: 'warning',
                    text: '@TempData["warning-message"]',
                    position: 'top-right',
                    icon: 'warning',
                    hideAfter: 5000
            });
            </text>
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>