@model BankStatementAnalyzer.WebUI.ViewModels.AccountViewModel.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row align-items-center justify-content-md-center h-p100">
    <div class="col-lg-8 col-md-11 col-12">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="row">
                <div class="col-12 no-padding">
                    <div class="alert alert-danger alert-dismissible">
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        }
        <div class="row align-items-center justify-content-md-center" data-overlay-light="9">
            <div class="col-lg-5 col-md-6 col-12">
                <div class="p-40 text-center content-bottom">
                    <a href="@Url.Action("Index", "Home")"><img src="../../../images/logo/RN_logo.png" class="" alt="" /></a>

                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="p-20 content-bottom">
                    <div class="content-top-agile">
                        <h2>Register a super administrator</h2>
                        <p class="text-fade">Setup the super administrator for the portal</p>
                    </div>
                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Full Name", @autocomplete = "Off" })
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border-warning"><i class="ti-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "Off" })
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border-warning"><i class="fa fa-envelope-o"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "Mobile", @autocomplete = "Off" })
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border-warning"><i class="glyphicon glyphicon-phone"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border-warning"><i class="ti-lock"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border-warning"><i class="fa fa-check"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!-- /.col -->
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-yellow btn-block margin-top-10">SIGN UP</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>