@model IEnumerable<BankStatementAnalyzer.Models.SupportAndFAQ>

@{
    ViewBag.Title = "Index";
    ViewBag.MainHeading = "Support and FAQ";
    ViewBag.BoxHeader = "Support and FAQ List";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAQType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAQType)
                </td>
                @if (item.Status)
                {
                    <td>
                        <span class="btn btn-success btn-round btn-sm">Active</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="btn btn-warning btn-round btn-sm">In-Active</span>
                    </td>
                }
                <td>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Actions</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Edit","SupportAndFAQ",new { id = item.ID})">Edit</a>
                        <a class="dropdown-item" href="@Url.Action("Delete","SupportAndFAQ",new { id = item.ID})">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $('.table').DataTable({"order": [[0, "desc"]]});
    </script>
}