@model IEnumerable<BankStatementAnalyzer.Models.RateCard>

@{
    ViewBag.Title = "Index";
    ViewBag.MainHeading = "RateCard";
    ViewBag.BoxHeader = "RateCard List";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("Cloths")
            </th>
            <th>
                @Html.DisplayName("Service Type")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrgetRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cloth.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrgetRate)
                </td>
                @if (item.Status)
                {
                    <td>
                        <span class="btn btn-success btn-round btn-sm">Active</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="btn btn-warning btn-round btn-sm">In-Active</span>
                    </td>
                }
                <td>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Actions</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Edit","RateCard",new { id = item.ID})">Edit</a>
                        <a class="dropdown-item" href="@Url.Action("Delete","RateCard",new { id = item.ID})">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $('.table').DataTable({ "order": [[0, "asc"]] });
    </script>
}