@model BankStatementAnalyzer.Models.Store

@{
    ViewBag.Title = "Edit";
    ViewBag.MainHeading = "Edit";
    ViewBag.BoxHeader = "Edit Store";
}

@using (Html.BeginForm("Edit", "Store", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.StoreType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.RadioButtonFor(model => model.StoreType, BankStatementAnalyzer.Models.StoreType.InHouse, new { @id = BankStatementAnalyzer.Models.StoreType.InHouse, @class = "with-gap" })
                @Html.Label(BankStatementAnalyzer.Models.StoreType.InHouse.ToString())
                @Html.RadioButtonFor(model => model.StoreType, BankStatementAnalyzer.Models.StoreType.Distributor, new { @id = BankStatementAnalyzer.Models.StoreType.Distributor, @class = "with-gap" })
                @Html.Label(BankStatementAnalyzer.Models.StoreType.Distributor.ToString())
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autocomplete = "Off" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @autocomplete = "Off" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @autocomplete = "Off", @cols = "80" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Pincode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control", @autocomplete = "Off" } })
                @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", @autocomplete = "Off" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", @autocomplete = "Off" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsInstaServiceProvided, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsInstaServiceProvided)
                    @Html.ValidationMessageFor(model => model.IsInstaServiceProvided, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}