@model BankStatementAnalyzer.BusinessLogic.ViewModels.OrderVM
@{
    ViewBag.Title = "Details";
    ViewBag.MainHeading = "Order Details";
    ViewBag.BoxHeader = "Details";
}

<!-- info row -->
<div class="row invoice-info">
    <div class="col-12 col-lg-10 invoice-col mb-30">
        <div class="mb-10 bb-1">
            <h3><strong class="text-blue">@Model.Customer.Name</strong></h3>
            <address>
                <strong>Address:</strong> @Model.Address.DeliveryAddress<br>
                <strong>FLat:</strong> @Model.Address.Flat<br>
                <strong>Area:</strong> @Model.Address.Area<br>
                <strong>Landmark:</strong> @Model.Address.LandMark<br>
                <strong>Phone:</strong> @Model.Customer.Mobile<br /><strong>Email:</strong> @Model.Customer.Email
            </address>
            <h4><strong class="text-primary">Updated on: @Model.PlacedOn.ToString("dd MMM yyyy")</strong></h4>
            <h4><strong class="text-primary">Time Slot: @Model.TimeSlot</strong></h4>
            <h3><strong class="text-danger">Payment mode: @Model.PaymentType</strong></h3>

        </div>
    </div>
</div>
<!-- /.row -->
<!-- Table row -->
<h3><strong class="text-blue">Order Summary</strong></h3>
<div class="row">
    <div class="col-12 table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>#</th>
                    <th class="text-right">Name</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Price</th>
                </tr>
            </tbody>
            <tbody>
                @{int i = 1;
                    foreach (var orderSummary in Model.OrderSummary)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@orderSummary.ProductName</td>
                            <td class="text-right">@orderSummary.Quantity</td>
                            <td class="text-right">₹@orderSummary.Price</td>
                        </tr>
                        i++;
                    }
                }

            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<h3><strong class="text-blue">New Can Summary</strong></h3>
<div class="row">
    <div class="col-12 table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>#</th>
                    <th class="text-right">Name</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Price</th>
                </tr>
            </tbody>
            <tbody>
                @{int j = 1;
                    foreach (var newCanSummary in Model.NewCanSummary)
                    {
                        <tr>
                            <td>@j</td>
                            <td>@newCanSummary.ProductName</td>
                            <td class="text-right">@newCanSummary.Quantity</td>
                            <td class="text-right">₹@newCanSummary.Price</td>
                        </tr>
                        j++;
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>

<div class="row">
    <!-- accepted payments column -->
    <div class="col-12 col-sm-6">
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 text-right">
        <div>
            <p>Sub - Total amount  :  ₹@Model.OrderTotal</p>
            <p>Delviery Charges  :  ₹@Model.DeliveryCharge</p>
            <p>Wallet points  :  -₹@Model.WalletPoinst</p>
            <p>Coupon  :  -₹@Model.Coupon</p>
        </div>
        <div class="total-payment">
            <h3><b>Total :</b> ₹@Model.PaidAmount</h3>
        </div>

    </div>
</div>