@model IEnumerable<BankStatementAnalyzer.Models.StyleClass>

@{
    ViewBag.Title = "Index";
    ViewBag.MainHeading = "Style Details";
    ViewBag.BoxHeader = "Style List";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Actions</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Edit","StyleClasses",new { id = item.ID})">Edit</a>
                        <a class="dropdown-item" href="@Url.Action("Delete","StyleClasses",new { id = item.ID})">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({"order": [[0, "desc"]]});
        });
    </script>
}

